<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>div要素だけで電車を作る</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="./main.css" />
    <link rel="stylesheet" href="./lcd.css" />
  </head>
  <body style="background: #eef">
    <div id="app">
      <div
        id="canvas"
        class="fixed parent-fit"
        style="perspective: 1200px;"
        :style="{'--line-color': lineColor}"
      >
        <div
          class="absolute parent-fit"
          :style="{transform: cameraTransform}"
        >
          <div id="field">
            <s-cube
              :xl="800"
              :yl="200"
              :zl="0"
            >
              <template #top>
                <div class="absolute parent-fit" style="background: rgb(202, 188, 170);">
                  <div class="flex absolute fluid" style="top: 74px; left: 0px;">
                    <div class="wood" v-for="i in 32"></div>
                  </div>
                  <div class="absolute fluid" style="height: 48px; border-style: solid; border-width: 2px 0px; border-color: #888 transparent; top: 76px; left: 0px;"></div>
                </div>
              </template>
            </s-cube>
          </div>
          <div id="platform">
            <s-cube
              :xl="400"
              :yl="72"
              :zl="16"
              :x="200"
              :y="-66"
              :z="8"
            >
              <template v-for="name in ['front', 'back', 'left', 'right']" #[name]>
                <div class="absolute parent-fit" style="background: #666; border: 1px solid #888"></div>
              </template>
              <template #top>
                <div class="absolute parent-fit flex" style="background: gray; justify-content: flex-end; flex-direction: column;">
                  <div class="fluid" style="background: rgb(214, 202, 34); height: 6px;"></div>
                  <div class="fluid" style="height: 2px;"></div>
                  <div class="fluid" style="background: #ccc; height: 8px;"></div>
                </div>
              </template>
            </s-cube>
          </div>
          <div id="train" class="transition-2s" :style="{transform: `translate3d(${trainPos}px, 0, 37px)`}">
            <s-cube
              :xl="336"
              :yl="48"
              :zl="42"
            >
              <template #top>
                <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: repeating-linear-gradient(#ddd, #999 4px, #ddd 4px);"></div>
              </template>
              <template #bottom>
                <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: #ccc"></div>
              </template>
              <template
                v-for="name in ['left', 'right']"
                #[name]
              >
                <div style="position: absolute; top: 0; right: 0; bottom: 7px; left: 0;">
                  <div style="height: 10px; background: black;">
                  </div>
                  <div style="height: 18px; background: rgba(0,0,0,0.8);">
                  </div>
                  <div style="height: 7px; background: var(--line-color);">
                  </div>
                </div>
                <div class="flex space-between" style="position: absolute; top: 0; right: 0; bottom: 7px; left: 0;">
                  <div class="flex">
                    <div style="border-bottom: 40px solid white; border-left: 4px solid white; border-right: 4px solid transparent; border-top: 0px solid transparent;">
                    </div>
                  </div>
                  <div class="flex">
                    <div style="border-bottom: 40px solid white; border-right: 4px solid white; border-left: 4px solid transparent; border-top: 0px solid transparent;">
                    </div>
                  </div>
                </div>
                <div class="flex space-between" style="position: absolute; bottom: 0px; left: 0; right: 0px; height: 7px; background: #827f7b;">
                </div>
              </template>
              <template
                v-for="name in ['front', 'back']"
                #[name]
              >
                <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;" class="flex">
                  <div style="height: 42px; width: 6px;">
                    <div style="height: 35px; background: white;"></div>
                    <div style="height: 7px; background: #827f7b;"></div>
                  </div>
                  <div style="height: 42px; width: 24px">
                    <s-window></s-window>
                  </div>
                  <div style="height: 42px; width: 24px">
                    <div style="height: 6px; background: #827f7b;"></div>
                    <s-door :is-open="name === 'front' ? frontDoorOpen : backDoorOpen"></s-door>
                  </div>
                  <div style="height: 42px; width: 60px">
                    <s-window></s-window>
                  </div>
                  <div style="height: 42px; width: 24px">
                    <div style="height: 6px; background: #827f7b;"></div>
                    <s-door :is-open="name === 'front' ? frontDoorOpen : backDoorOpen"></s-door>
                  </div>
                  <div style="height: 42px; width: 60px">
                    <s-window></s-window>
                  </div>
                  <div style="height: 42px; width: 24px">
                    <div style="height: 6px; background: #827f7b;"></div>
                    <s-door :is-open="name === 'front' ? frontDoorOpen : backDoorOpen"></s-door>
                  </div>
                  <div style="height: 42px; width: 60px">
                    <s-window></s-window>
                  </div>
                  <div style="height: 42px; width: 24px">
                    <div style="height: 6px; background: #827f7b;"></div>
                    <s-door :is-open="name === 'front' ? frontDoorOpen : backDoorOpen"></s-door>
                  </div>
                  <div style="height: 42px; width: 24px">
                    <s-window></s-window>
                  </div>
                  <div style="height: 42px; width: 6px;">
                    <div style="height: 35px; background: white;"></div>
                    <div style="height: 7px; background: #827f7b;"></div>
                  </div>
                </div>
              </template>
            </s-cube>
            <s-cube
              :xl="336"
              :yl="48"
              :zl="16"
              :z="-21 - 8"
            >
              <template v-for="name in ['front', 'back']" #[name]>
                <div class="flex space-between" style="padding: 0px 16px;">
                  <div class="flex">
                    <div style="width: 16px; height: 16px; border: 2px solid #444; background-color: #555; border-radius: 999px; margin-right: 2px;"></div>
                    <div style="width: 16px; height: 16px; border: 2px solid #444; background-color: #555; border-radius: 999px;"></div>
                  </div>
                  <div class="flex">
                    <div style="width: 16px; height: 16px; border: 2px solid #444; background-color: #555; border-radius: 999px; margin-right: 2px;"></div>
                    <div style="width: 16px; height: 16px; border: 2px solid #444; background-color: #555; border-radius: 999px;"></div>
                  </div>
                </div>
              </template>
              <template v-for="name in ['left', 'right']" #[name]>
                <div class="flex space-between align-end" style="position: absolute; top: 0; right: 0; bottom: 7px; left: 0;">
                  <div class="flex">
                    <div style="border-bottom: 6px solid white; border-left: 6px solid white; border-right: 6px solid transparent; border-top: 0px solid transparent;">
                    </div>
                  </div>
                  <div class="flex">
                    <div style="border-bottom: 6px solid white; border-right: 6px solid white; border-left: 6px solid transparent; border-top: 0px solid transparent;">
                    </div>
                  </div>
                </div>
              </template>
            </s-cube>
            <s-cube
              :xl="328"
              :yl="44"
              :zl="12"
              :z="-21 - 6"
            >
              <template v-for="name in ['bottom', 'front', 'back', 'left', 'right']" #[name]>
                <div style="width: 100%; height: 100%; background: #111"></div>
              </template>
            </s-cube>
          </div>
          <div id="lcd">
            <s-cube
              :xl="12"
              :yl="72"
              :zl="20.33"
              :x="200"
              :y="-66"
              :z="80"
            >
              <template #left>
                <div class="absolute" style="left: 0; top: 0; transform: scale(0.1666); transform-origin: top left;">
                  <s-lcd></s-lcd>
                </div>
              </template>
              <template #right>
                <div class="absolute" style="left: 0; top: 0; transform: scale(0.1666); transform-origin: top left;">
                  <s-lcd reverse></s-lcd>
                </div>
              </template>
              <template v-for="name in ['front', 'back', 'top', 'bottom']" #[name]>
                <div class="absolute parent-fit" style="background: #333; border: 0.5px solid #777;"></div>
              </template>
            </s-cube>
          </div>
        </div>
      </div>
      <div class="flex" style="position: fixed; bottom: 0; left: 0; z-index: 1;">
        <div>
          <div>
            カメラ<br>
            <input type="range" min="-180" max="180" v-model.number="cameraDeg" /><br>
            <input type="range" min="45" max="89" v-model.number="cameraDeg2" />
          </div>
          拡大率<br>
          <input type="range" min="0.5" max="2" step="0.05" v-model.number="cameraScale" />
        </div>
        <div>
          <div>
            位置<br>
            <input type="range" min="-220" max="200" v-model.number="trainPos" />
          </div>
          <div>
            <label>
              <input type="checkbox" v-model="frontDoorOpen">
              正面ドア
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" v-model="backDoorOpen">
              裏面ドア
            </label>
          </div>
          <label>
            <input type="color" v-model="lineColor">
            ラインカラー
          </label>
        </div>
        <div style="width: 165px">
          <textarea v-model="announceText" style="height: 4em;">
          </textarea>
          <br>
          <button @click="randomAnnounce">ランダム</button>
          <div>
            音量：
            <input style="width: 60%" type="range" min="0" max="1" step="0.05" v-model.number="voiceVolume">
          </div>
          <div>
            声：
            <select style="width: 70%" v-model="selectedVoiceName">
              <option v-for="v in voices" :value="v.name">{{ v.name }}（{{ v.lang }}）</option>
            </select>
          </div>
          <div>
            <button @click="playAnnounce">再生</button>
            <button @click="stopAnnounce">停止</button>
          </div>
        </div>
      </div>
    </div>
    <script src="./main.js"></script>
  </body>
</html>